<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "bottega_shoot (15 of 22).jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>With over a decade of experience in sales and technology fields I’ve come to realize that the relationship between customers and creators/developers has many problems. With little communication beyond the initial planning stages of development a lot can become misinterpreted or simply not explained enough. All too often the end product is in no way a representation of what the client actually wanted.</p>

        <p>With that in mind I’ve set out on a different course, to fulfill what I believe is the best path for both parties. Staying in frequent communication, from weekly to almost daily, this helps to catch any issues before they become problems. With a paired vision and realistic goals I know that I can get my clients what they envisioned, on time, and on budget.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Appliance &amp; Electronics Sales: RC Willey, Murray
            </div>
            <div class="card card-block">
              Home Theater Install: RC Willey
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Bottega Tech: Lehi, UT
            </div>
            <div class="card card-block">
              Combat Medic Course: Ft. Sam Houston, TX
            </div>
            <div class="card card-block">
              Combat Engineer Course: Ft. Leonard Wood, MO
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>